body{
    font-family:'Times New Roman', Times, serif;
    padding-top: 60px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
nav {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightseagreen;
}
#navbar {
    list-style: none;

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: lightseagreen;
    order: 1;
}
#navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: darkcyan;
}
h1, h2, h3, p {
    text-align: center;
    order: 0;
}
figure {
    display: flex;
    justify-content: center;
}
figcaption {
    font-style: italic;
}
table{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dotted black;
    margin: 0px auto;
}
th, td {
    text-align: center;
}
th:nth-of-type(odd), td:nth-of-type(odd){
    background-color: antiquewhite;
}
th:nth-of-type(even), td:nth-of-type(even){
    background-color: chartreuse;
}
td:nth-of-type(2), th:nth-of-type(2) {
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
}